/* body, cabecalho e nav*/
body{
  background-color: #1B1B20;
  font-family: 'Oxygen Mono', monospace;
}

header{
  font-family: 'Petit Formal Script', cursive;
  font-size: 25px;
  color: white;
  background-color: #FF9E00;
  display: flex;
  justify-content: center;
  margin-left: 7%;
  margin-right: 7%;
}

nav{
  display: flex;
  justify-content: center;
  background-color: #FF9E00;
  margin-top: 10px;
  font-family: 'Oxygen Mono', monospace;
  font-size: 15px;
  margin-left: 7%;
  margin-right: 7%;
  border-radius: 30px;
}

li {
float: left;
display: inline;
}

li a:hover {
  background-color:#52524F;
}

a {
display: block;
padding: 8px;
text-decoration: unset;
color: white;
}

ul{
  background-color: #FF9E00;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;  
}

.active{
  background-color:#FFD051;
  color: black;
}

/*edicao da pagina home*/

/* colunas e cards*/
.coluna1 {   
  width: 85%;
  margin: 0 auto;
  height: auto;
}

.coluna2 {
  width: 80%;
  height: auto;
  margin: 0 auto;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* midia */
.midia video{
  display: block;
  justify-content: space-around;
}

/* textos*/
h2{
  font-size: 20px;
  text-align: center;
}

h3{
  text-align: center;
  color: #FF9E00; 
  background-color: #282725;
}

h4{
  text-align: center;
}

p{
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

/* edicao da pagina sobre*/


/*imagem*/
.avatar{
width: 25%;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 30px;
margin-bottom: 50px;
border-radius: 50%;
box-shadow: 0 4px 8px 0 #FF9E00, 0 6px 20px 0 #FFD051;
}

/*conteudo*/
.coluna3 {   
  width: 75%;
  margin: 0 auto;
  height: auto;
}

#sobre{
  font-size: 18px;
  text-align: justify;
}

/* links*/
#linkedin{
  margin-top: 30px;
  width: 74px;
  display: block;
  margin: auto;
}

#git{
  margin-left: 5px;
  display: block;
  margin: auto;
  margin-top: 30px;
}

.text1{
  background-color: #282725;
  width: 60%;
  margin-left: 20%;
  text-align: center;
}

/*edicao da pagina contato*/


iframe{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

/*edicao da pagina saiba mais*/


#conteudo{
  background-color: white;
  width: 75%;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
}

.fontes{
  color: #FFD051;
  background-color: #282725 ;
  width: 50%;
  text-align: center;
}