body{
    background-color: #1B1B20;
    font-family: 'Oxygen Mono', monospace;
}

header{
    font-family: 'Petit Formal Script', cursive;
    font-size: 25px;
    color: white;
    background-color: #FF9E00;
    display: flex;
    justify-content: center;
    margin-left: 7%;
    margin-right: 7%;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #FF9E00;
    margin-top: 10px;
    font-family: 'Oxygen Mono', monospace;
    font-size: 15px;
    margin-left: 7%;
    margin-right: 7%;
    border-radius: 30px;
}

li {
  float: left;
  display: inline;
}

li a:hover {
    background-color:#52524F;
  }

a {
  display: block;
  padding: 8px;
  text-decoration: unset;
  color: white;
}

ul{
    background-color: #FF9E00;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;  
}

.active{
    background-color:#FFD051;
    color: black;
}

.coluna1 {   
    width: 85%;
    margin: 0 auto;
    height: auto;
  }
  
  .coluna2 {
    width: 75%;
    height: auto;
    margin: 0 auto;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }

  .text{
      font-family: 'Times New Roman', Times, serif;
  }

 .audio{
     display: block;
 }

  #cardvid{
      width: 1015px;
      height: 875px;
      background-color: white;
      margin-bottom: 10%;   
  }

  .titvid{
      font-size: 16px;
      display: flex;
      justify-content: space-around;
  }

  .midia video{
    display: block;
    margin:0 auto;
    justify-content: space-around;
}

ound;
}

